<footer id = "mainfooter">
    <hr>
        <p id="footerTxt">
          CST 336 Internet Programming. 2023 Vonan<br>
          <b>Disclaimer:</b> The information on this page may be fictitous <br>
          It is used for academic purposes only.
        </p>
    
      </footer>
    