<!DOCTYPE html>
<html>
<head>
  <title>Pokemon Region</title>
</head>
<body>
<%- include('partials/nav.ejs') %>
  <h1><%= region %> Region</h1>
  <p><%= pokemonName %> is from the <%= region %> region.</p>
</body>
</html>
