<!DOCTYPE html>
<html>
<head>
	<title>Trivia Game</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  	<link href="/css/style.css" rel="stylesheet">
</head>
<body id="trivia">
    <div class="wrapper">
	<%- include('partials/nav.ejs') %>
	<div class="container">
		<h1>Trivia Game</h1>
		<p class="lead"><%= question %></p>
		<form method="POST" action="/trivia">
			<div class="mb-3">
				<label for="answer" class="form-label">Enter your answer:</label>
				<input type="text" class="form-control" id="answer" name="answer">
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
    </div>
    <%- include('partials/footer.ejs') %>
</body>
</html>
